.form-control {
  border-radius: 5px;
  box-sizing: border-box;
  min-width: 15em;
  padding: 1%;
  position: relative;
  text-align: center;

  input[type='text'] {
    border-radius: 5px;
    height: 1.7em;
    text-indent: 1em;
    width: 90%;
  }

  textarea {
    box-sizing: border-box;
    height: 6em;
    padding: 1%;
    resize: none;
    width: 95%;
  }

  button {
    height: 2em;
    width: 50%;
  }

  label {
    display: block;
    font-size: 0.8em;
    text-align: center;
    width: 100%;
    input[type='checkbox'] {
      height: 1.5em;
      vertical-align: middle;
      width: 1.5em;
    }
  }

  select {
    height: 1.7em;
    width: 50%;
  }

  input,
  textarea,
  button,
  label,
  select {
    &:hover {
      cursor: grab;
    }
    &:focus {
      outline: none;
    }
    &:active {
      cursor: grabbing;
    }
  }
}

.styling-fields {
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  span {
    display: inline-block;
    width: 10em;
  }
  input {
    height: 2em;
    text-indent: 3%;
  }
  select {
    align-self: center;
    height: 2em;
    width: 60%;
  }
}

.border-styling {
  h3 {
    border-top: 1px dashed var(--light-blue);
    box-sizing: border-box;
    color: var(--light-blue);
    margin: 1em auto 0.4em auto;
    padding: 1%;
    text-align: center;
    width: 80%;
  }
}

.required::after {
  color: red;
  content: '∗';
  font-size: 1.7rem;
  font-weight: bold;
  margin-left: 2%;
  position: absolute;
  top: 0;
}

.blue-border {
  border: 1px solid blue;
}
