<div [formGroup]="form" [ngSwitch]="element" [ngClass]="formControlClasses" (click)="clickOnFormControl()">
    <input [formControlName]="key" *ngSwitchCase="'input'" type="text" [readonly]="!selectableSection" [placeholder]="styles.placeholder | cutText:30" [required]="styles.required==='required'" [ngStyle]="styles" >
    <textarea [formControlName]="key" *ngSwitchCase="'textarea'" [readonly]="!selectableSection" [placeholder]="styles.placeholder| cutText:150" [required]="styles.required==='required'" [ngStyle]="styles"></textarea>
    <button *ngSwitchCase="'button'" [ngStyle]="styles">Button</button>
    <label *ngSwitchCase="'check'" [ngStyle]="styles">
        Check option
        <input [formControlName]="key" type="checkbox" [required]="styles.required==='required'">
    </label>
    <select [formControlName]="key" *ngSwitchCase="'select'" [required]="styles.required==='required'" [ngStyle]="styles">
        <option>option1</option>
        <option>option2</option>
        <option>option3</option>
    </select>
</div>
