<section class="form-builder">
    <h2>Form builder</h2>
    <div class="field-work">
        <div class="parameters-control-panel">
            <app-styling-elements title="Form styling" elementType='form'></app-styling-elements>
            <app-styling-elements title="Element styling" [elementType]="checkedElement$ | async"></app-styling-elements>
        </div>
        <div class="drag-elements" 
            id='cdk-drop-list-0'
            cdkDropList
            #elementsList="cdkDropList"
            [cdkDropListData]="draggableElements"
            [cdkDropListConnectedTo]="[formElementsList]"
            (cdkDropListDropped)="drop($event)">
            <app-form-control [form]="formGroupDragableElements" *ngFor="let item of draggableElements" [elementType]="item.element" [key]="item.element" cdkDrag [selectableSection]="false">
                <div class="element-placeholder" *cdkDragPlaceholder></div>
            </app-form-control>
        </div>
        <div class="form-container">
            <app-dynamical-form
                cdkDropList
                class="form-list"
                #formElementsList="cdkDropList"
                [cdkDropListData]="draggedElements"
                [cdkDropListConnectedTo] = "[elementsList]"
                (cdkDropListDropped)="drop($event)">
            </app-dynamical-form>
        </div>
    </div>
</section>